<%- include('./partials/head.ejs') %>

<h2 class="welkom-mini">Alle producten</h2>

<div class="content">
  <article>
    <% producten.forEach(product=> { %> <% if(product.categorie.titel ===
    "Pinda" ) { %>


    <% if(product.titel === "Mijn eerste pinda in 6 stappen") { %>

<div class="speciaal-producten">
    <img class="article-img" src="/Pinda_6stappen.webp" alt="Pinda in 6 stappen"/>
    <% } %> <% if(product.titel === "Mijn eerste pinda in 6 stappen") { %>
      <h3><%= product.titel %></h3>
</div>


<div class="speciaal-producten">
    <img class="article-img" src="/Pinda_doosjes.webp" alt="Pinda 4 maanden" />
    <% } %> <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>
      
      <h3><%= product.titel %></h3>

  <div class="homepage-btn">
    <button class="test-btn">
     <h4>In winkelwagen</h4>
      <button class="test-btn"><h4>bekijk product</h4></button>
    </button>
  </div>
</div>

    <img class="article-img" src="/Zakjestap.webp" alt="Zakje stap" />
    <% } %> <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>

    <img class="article-img" src="/Zakjestap2.webp" alt="Zakje stap2" />
    <% } %> <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>

    <img class="article-img" src="/Zakjestap3.webp" alt="Zakje stap3" />
    <% } %> <% if(product.titel==="Mijn eerste pinda in 6 stappen" ) { %>

    <img class="article-img" src="/Zakjestap3.webp" alt="Zakje stap3" />
    <% } %> <% } %> <% }); %>

    <div class="speciaal-producten">
  <img  class="article-img" src="/Pinda_6stappen.webp" alt="Pinda in 6 stappen" />
    </div>

  </article>
</div>


<%- include('./partials/foot.ejs') %>
