<%- include('./partials/head-ingelogd') %>

<div class="chat">
  <div class="chat-list">
    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/handjes.jpeg" />
      <div>
        <h3 class="chat-h3">Amin Nevine</h3>
        <p class="chat-p">Fijn om te horen!</p>
      </div>
      <p class="chat-dag">Maandag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Hima Huroka</h3>
        <p class="chat-p">Goedemiddag ik ben de ou...</p>
      </div>
      <p class="chat-dag">Donderdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Yusuf Baroud</h3>
        <p class="chat-p">De testresultaat van Dono..</p>
      </div>
      <p class="chat-dag">Donderdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Anne de Vries</h3>
        <p class="chat-p">Gelukkig maar.</p>
      </div>
      <p class="chat-dag">Vrijdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Tojiro Hatake</h3>
        <p class="chat-p">Tojiro heeft je volgverzoek..</p>
      </div>
      <p class="chat-dag">Donderdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Noa van den Berg</h3>
        <p class="chat-p">Hallo!</p>
      </div>
      <p class="chat-dag">Zondag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Iciar Lopez</h3>
        <p class="chat-p">Iciar heeft je volgverzoek...</p>
      </div>
      <p class="chat-dag">Zondag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Luka Modric</h3>
        <p class="chat-p">14 dagen hahaha.</p>
      </div>
      <p class="chat-dag">Vorige week</p>
    </div>
  </div>

  <div class="chat-box">
    <div class="chat-top-container">
      <div>
        <img
          class="chat-avatar-chat-box"
          alt="avatar-amin"
          src="/avocado-baby.jpeg"
        />
        <h2>Yusuf Baroud</h2>
      </div>
    </div>

    <section>
      <div class="dag-boven-in-chat">
        <p class="dag-boven-in-chat-p">Vrijdag</p>
        <p class="tijd-boven-in-chat-p">11:04</p>
      </div>

      <div class="chat-1-links">
        <p class="chatbericht-1-links">
          It is a long established fact that a reader will be distracted by the
          readable contect of a page when looking at its layout.
        </p>
      </div>

      <div class="chat-1-rechts">
        <p class="chatbericht-1-rechts">
          nd web page editors now use Lorem Ipsum as their default model text,
          and a search for
        </p>
      </div>
    </section>
  </div>
</div>

<%- include('./partials/foot.ejs') %>
