<%- include('./partials/head-ingelogd') %>

<div class="chat">
  <div class="chat-list">
    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/handjes.jpeg" />
      <div>
        <h3 class="chat-h3">Amin Nevine</h3>
        <p class="chat-p">Fijn om te horen!</p>
      </div>
      <p class="chat-dag">Maandag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Hima Huroka</h3>
        <p class="chat-p">Goedemiddag ik ben de ou...</p>
      </div>
      <p class="chat-dag">Donderdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Yusuf Baroud</h3>
        <p class="chat-p">De testresultaat van Dono..</p>
      </div>
      <p class="chat-dag">Donderdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Anne de Vries</h3>
        <p class="chat-p">Gelukkig maar.</p>
      </div>
      <p class="chat-dag">Vrijdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Tojiro Hatake</h3>
        <p class="chat-p">Tojiro heeft je volgverzoek geaccpeerd. Zeg Hallo!</p>
      </div>
      <p class="chat-dag">Donderdag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Noa van den Berg</h3>
        <p class="chat-p">Hallo!</p>
      </div>
      <p class="chat-dag">Zondag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Iciar Lopez</h3>
        <p class="chat-p">Iciar heeft je volgverzoek geaccpeerd. Zeg Hallo</p>
      </div>
      <p class="chat-dag">Zondag</p>
    </div>

    <div class="chat-persons">
      <img class="chat-avatar" alt="avatar-amin" src="/Mini.png" />
      <div>
        <h3 class="chat-h3">Luka Modric</h3>
        <p class="chat-p">14 dagen hahaha.</p>
      </div>
      <p class="chat-dag">Vorige week</p>
    </div>
  </div>

  <div class="chat-box">
    <p>Hier kun je chatten</p>
  </div>
</div>

<%- include('./partials/foot.ejs') %>
