<%- include('./partials/head') %>

<div class="head-grid-home">
  <div class="container-home">
    <h2>Welk product past bij mijn Mini?</h2>

    <p class="homepage-top">
      Beantwoord een paar simpele vragen voor het advies en schema voor jouw
      Mini (ontwikkeld in samenwerking met kinderarts-allergoloog en conform
      richtlijnen DAVO-diëtisten)
    </p>

    <div class="homepage-btn">
      <button class="test-btn"><a href="/test">Doe de test</a></button>
      <button class="producten-btn">
        <a href="/alleproducten"> Bekijk producten</a>
      </button>
    </div>
  </div>
    <img class="headerfoto" src="/mep-3stappen.webp" alt="" />
  </div>

  <div class="head-grid-home">
     <img class="headerfoto" src="/4plusmaanden-pinda.webp" alt="" />

<div class="head-grid-home">
    <div class="container-home">
      <h2>Mijn eerste Startkit in 3 of 6 stappen</h2>

    <p>
      Gebaseerd op wetenschappelijk onderzoek ontwikkelden we mijn eerste pinda
      in 3 en 6 stappen. Deze producten bevatten de juiste dosering pindameel om
      voor het eerst pinda te geven aan je baby. Zo kun je veilig per stap
      bekijken hoe jouw Mini reageert op het eten van pinda's.
    </p>   
  </div>
</div>


<div class="container-home">
  <h2>Mijn eerste pinda Opvolgkit</h2>

  <p>
    Als jouw Mini onze "mijn eerste Startkit in 3 of 6 stappen" probleemloos
    doorlopen heeft, is het belangrijk dat om wekelijks allergenen te blijven
    geven. Hiervoor kun je onze mijn eerste pinda en/of cashew Opvolgkit
    gebruiken. Voordat je onze producten koopt doe altijd de Vini Mini test.
  </p>
</div>
  <img class="headerfoto" src="/pregnant-momma.webp" alt="" />

  <img class="headerfoto" src="/ceo-vini-mini.webp" alt="" />

<div class="container-home">
  <h2>Speciaal voor uw Mini</h2>

  <p>
    Omdat wij vinden dat iedere Mini de best mogelijke start verdient,
    reserveren wij 10% van onze opbrengsten voor ouders die wat minder te
    besteden hebben. Op deze manier kunnen we onze mijn eerste pinda producten
    beschikbaar stellen aan andere Mini's in Nederland. Met het kopen van onze
    producten help je dus niet alleen je eigen Mini, maar ook een andere Mini!
    Draag ook je steentje bij aan de kansengelijkheid in Nederland!
  </p>
</div>
</div>
  <div class="about-us"><h2>Over ons</h2>

  <p>
    Onze wereld veranderde toen we moeders werden; helemaal toen het zoontje van
    Laurie een ernstige allergische reactie kreeg toen hij 6 maanden oud was.
    Gelukkig kon door het vroeg en vaak geven van pinda's en noten bij hem een
    pinda- en notenallergie worden voorkomen. Hieruit werd Vini Mini geboren,
    omdat wij vinden dat iedere Mini recht heeft op een gezond, gelukkig en
    zorgeloos leven!
  </p>
</div>


  <%- include('./partials/foot') %>
</div>
