<%- include('./partials/head-ingelogd') %>

<h2 class="welkom-mini">Welkom, Maaike</h2>

<h3>
  Welkom in uw gepersonaliseerde omgeving! Hier heeft u toegang tot uw
  gepersonaliseerde kalender, met mogelijkheden zoals het ontvangen van
  herinneringen, het zetten van timers, het bijhouden van een dagboek en nog
  veel meer.
</h3>

<div class="homepage-btn">
  <button class="test-btn">
    <a href="/speciaalvoormini">Speciaal voor uw Mini</a>
  </button>
  <button class="producten-btn">
    <a href="/kalender"> Kalender</a>
  </button>
</div>

<img
  src="https://media.graphassets.com/IeYFIGHBRNCKL9mHR1A9"
  class="headerfoto"
/>

<H2>Meer over Mini</H2>
<p>
  Doordat wij de gegevens van uw mini hebben mogen ontvangen, heeft u een eigen
  gepersonaliseerde kalender. In deze kalender kunt u het schema bekijken en
  aanpassen naar wens van het geven van het allergeen of meerdere allergenen.
  Dit kunt u per maand bekijken. Ook is het makkelijk bij te houden of uw mini
  op schema loopt. Naast de kalender zijn er ook nog andere extra's te vinden.
  Zo kunt u bijvoorbeeld ook de producten zien die speciaal voor uw mini zijn
  samengesteld. Dit hebben wij bepaald aan de hand van de test die u heeft
  gemaakt.
</p>

<img class="headerfoto" src="/avocado-baby.jpeg" alt="" />

<h2>Mijn eerste Startkit in 3 of 6 stappen</h2>

<p>
  Als jouw Mini onze "mijn eerste Startkit in 3 of 6 stappen" probleemloos
  doorlopen heeft, is het belangrijk dat om wekelijks allergenen te blijven
  geven. Hiervoor kun je onze mijn eerste pinda en/of cashew Opvolgkit
  gebruiken. Voordat je onze producten koopt doe altijd de Vini Mini test.
</p>

<img class="headerfoto" src="/ceo-vini-mini.webp" alt="" />

<h2>Over ons</h2>

<p>
  Onze wereld veranderde toen we moeders werden; helemaal toen het zoontje van
  Laurie een ernstige allergische reactie kreeg toen hij 6 maanden oud was.
  Gelukkig kon door het vroeg en vaak geven van pinda's en noten bij hem een
  pinda- en notenallergie worden voorkomen. Hieruit werd Vini Mini geboren,
  omdat wij vinden dat iedere Mini recht heeft op een gezond, gelukkig en
  zorgeloos leven!
</p>

<%- include('./partials/foot') %>
