<%- include('./partials/head-ingelogd.ejs') %>

<section class="profiel">

  <div class="profiel-donovan">
      <img class="profiel-img" alt="profile-pic" src="/Donovan-Cassidy.jpeg" />
  <div>

 <span class="userinfo">OUDERS VAN</span>
<h2 class="username">Donovan Cassidy</h2>

 <div class="homepage-btn-profiel">
    <button class="test-btn-profiel">
     <h4>Kalender</h4>
      <button class="test-btn-profiel"><h4>15</h4><span class="connecties">connecties</span></button>
      <button class="test-btn-profiel"><img class="wishlist" src="/wishlist-icoontje.png" alt="wishlist"></button>
    </button>
  </div>



<div class="profiel-pagina"></div>

<img class="profiel-pagina-img" alt="producten" src="/producten.webp" />
 <div class="homepage-btn">
    <button class="test-btn">
     <h4>Speciaal voor Donovan</h4>
    </button>
  </div>

<div class="profiel-pagina"></div>

<img class="profiel-pagina-img" alt="schema" src="/schema_pinda.webp" />
 <div class="homepage-btn">
    <button class="test-btn">
     <h4>Test resultaat</h4>
    </button>
  </div>

<div class="profiel-pagina"></div>

<img class="profiel-pagina-img" alt="baby-eet" src="/eet-baby.webp" />
 <div class="homepage-btn">
    <button class="test-btn">
     <h4>Bekijk aanbiedingen</h4>
    </button>
  </div>

</div>
</section>








<%- include('./partials/foot.ejs') %>
