<%- include('./partials/head-ingelogd.ejs') %>

<h2 class="welkom-mini">Producten speciaal voor jouw mini</h2>

<h3>Producten passend bij Maaike's resultaat</h3>

<article>
<div class="speciaal-producten">
  <div class="gele-kader"><h3 class="stappen">Stap 1</h3></div>
  <img  class="article-img" src="/Pinda_6stappen.webp" alt="Pinda in 6 stappen" />

  <h3>Mijn eerste pinda in 6 stappen € 9.95</h3>

  <div class="homepage-btn">
    <button class="test-btn">
     <h4>In winkelwagen</h4>
      <button class="test-btn"><h4>bekijk product</h4></button>
    </button>
  </div>
</div>

<div class="speciaal-producten">
  <div class="gele-kader"><h3 class="stappen">Stap 2</h3></div>
  <img class="article-img" src="/mockupopvolg.webp" alt="Opvolgkit" />

  <h3>Opvolgkit € 9.95</h3>

  <div class="homepage-btn">
    <button class="test-btn">
      <h4>In winkelwagen</h4>
      <button class="test-btn"><h4>bekijk product</h4></button>
    </button>
  </div>
</div>

<div class="speciaal-producten">
  <div class="gele-kader"><h3 class="stappen">Stap 3</h3></div>
  <img class="article-img" src="/Pinda_doosjes.webp" alt="Pinda_doosjes" />

  <h3>Mijn eerste pinda in 3 stappen € 9.95</h3>

  <div class="homepage-btn">
    <button class="test-btn">
     <h4>In winkelwagen</h4>
      <button class="test-btn"><h4>bekijk product</h4></button>
    </button>
  </div>
</article>
</div>

<%- include('./partials/foot.ejs') %>
